@model PostIt_Master.Models.Note

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@{
    Layout = null;
}

<link rel="stylesheet" href="~/Content/stylesheet.css" media="screen">

<div id="note">
@using (Html.BeginForm("Create", "Notes")) 
{
    @Html.AntiForgeryToken()
    
        @Html.ValidationSummary(true, "")
        <div>
            <div>
                @Html.EditorFor(model => model.NoteTitle, new { htmlAttributes = new { @id="noteTitle" } })
                @*@Html.ValidationMessageFor(model => model.NoteTitle, "")*@
            </div>
        </div>

        <div id="noteText">
            <div>Note Details:</div>
            <div>
                @Html.EditorFor(model => model.NoteDetails, new { htmlAttributes = new { @id="noteText" } })
                @*@Html.ValidationMessageFor(model => model.NoteDetails, "")*@
            </div>
        </div>

        <div>
            <div class="btnSave">
                <input type="submit" value="Create" class="btnSave" />
            </div>
        </div>
}

@using (Html.BeginForm("Delete", "Notes", new { id = Model.NoteId }))
{
    @Html.AntiForgeryToken()
    <div class="btnDelete">
    <input type="submit" value="Delete" class="btnDelete" />
    </div>

}

</div>

<script src="~/Scripts/color.js"></script>

